.home-container{
    width: 1300x;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 5px;
    margin: 20px;
    box-sizing: border-box;
}

.tshirt-container,
.cart-container{
    margin: 1px;
}

.cart-container{
    border: 1px solid rgba(0,0,0,0.1);
}

.tshirt-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}